@import 'src/styles/mixins';
@import 'src/styles/text';

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include Card();

  padding: 12px;
}

.title {
  @extend .text_HSR;
  margin: 0;
}
