@function str-join($str1: null, $str2: null, $delimiter: null) {
  $ret: '';

  @if $str1 {
    $ret: $ret + $str1;

    @if $delimiter and $str2 {
      $ret: $ret + $delimiter;
    }
  }

  @if $str2 {
    $ret: $ret + $str2;
  }

  @return $ret;
}

$breakpoints: (
  small: 0,
  middle: 720px,
  large: 1024px,
);

@mixin breakpoint($size, $dir: 'down') {
  $bpsList: map-keys($breakpoints);

  $bpIndex: index($bpsList, $size);
  $bp: map-get($breakpoints, $size);

  $bpNextIndex: nth($bpsList, $bpIndex + 1);
  $bpNext: map-get($breakpoints, $bpNextIndex);

  $bpMin: null;
  $bpMax: null;

  @if $dir == 'only' or $dir == 'up' {
    $bpMin: $bp;
  }

  @if ($dir == 'only' or $dir == 'down') and $bpNext {
    $bpMax: $bpNext;
  }

  $media: str-join(
    if($bpMin, '(min-width: #{$bpMin})', null),
    if($bpMax, '(max-width: #{$bpMax})', null),
    ' and '
  );

  @media #{$media} {
    @content;
  }
}
