$gray-90: #18191a;
$gray-40: #939d9f;
$gray-10: #e3e7e7;
$gray-5: #eff1f1;
$gray-1: #fafafa;

$blue-60: #156daa;
$blue-50: #1986cd;
$blue-40: #2b9ce4;
$blue-30: #61B4EA;

$text-main: $gray-90;
$text-secondary: $gray-40;

$shadow-2: 0px 4px 4px rgba(5, 26, 46, 0.04),
  0px 4px 16px rgba(51, 51, 51, 0.08);
